body {
	font-size: 36px;
	font-family: 'Comfortaaa', cursive;
	background-color: #333;
	color: #fff;
}

img {
	display: block;
	margin: 0 auto;
	width: 800px;
	border-radius: 25px;
}

p {
	font-weight: bold;
	color: lime;
}


span{
	color: tomato;
	text-decoration: underline;
}